.card-img {
    height: 525;
    width: 320;
    margin-top: -250px;
    margin-left: 60px;
    background-color: transparent;
    border: none;
}

.card {
    position: absolute;
    background-color: transparent;
    overflow: hidden;
    border: none;
}

body {
    background-color: #308834;
}

#play-again-btn {
    display: inline;
}